<div class="full-width page-content">

  {%- render 'breadcrumbs' -%}

	<style>
      @import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
      h1, h3{text-align:center; font-family: Montserrat, 'Helvetica', "Helvetica Neue",Arial,"Lucida Grande",sans-serif;}
     #press_page_container .one-third {
      	float: left;
      	text-align: center; 
      }
       .bold{font-weight:bold;}
      .press_hr{width:1px solid #cacaca}
      .one-third > svg {width:60%; height:20vh;}
      .one-third h3 { min-height:100px;width: 75%;font-weight:normal;
    margin: auto;}
      #press_page_container .page-width {
    		max-width: 100vw;
      }
      @media only screen and (max-width: 750px) {
          #press_page_container .one-third {
            min-height:36vh;
            width:50%;

          }
      }
  </style>

    

      <div class="rte rte--nomargin">
        
        {{ page.content }}
      </div>

   
</div>
